/.cluster
/.vscode
.ruff_cache
.venv
.venv_dev

.venv_poetry
dist/
poetry.lock

wandb/

.DS_Store
.jupyter_ystore.db
.ipynb_checkpoints
.coverage
.coverage.*
coverage.json
coverage.json*

.mypy_cache
.pytest_cache
/.python-version

.tests_data

# This directory is temporarily generated when building docs or publishing to PyPI. Remove this line before running poetry. (See: https://github.com/python-poetry/poetry/issues/5547)
datadreamer