ruff==0.1.9
Sphinx==7.0.1
furo==2023.5.20
sphinx-inline-tabs==2023.4.21
sphinx-autobuild==2021.3.14
sphinx-copybutton==0.5.2
sphinx-click==4.4.0
sphinx-sitemap==2.5.0
sphinx-autodoc-typehints==1.23.0
sphinx-toolbox==3.4.0
sphinx_design==0.5.0
sphinx-reredirects==0.1.3